<!-- <mat-card>
<div class="dialog-content-wrapper">
  <mat-toolbar-row fxLayout="row" fxLayoutAlign="space-between center">
    <span class="title dialog-title" align="center"><strong><font size=4>ADD DOCTOR</font></strong></span>
    <button mat-button class="mat-icon-button" (click)="dialogRef.close()" aria-label="Close dialog">
      <mat-icon>close</mat-icon>
    </button>
  </mat-toolbar-row>

  <div mat-dialog-content class="-24 m0" fusePerfectScrollbar>
      <form [formGroup]="doctorForm" autocomplete="off">

        <div class="mb-24" fxLayout="row" fxLayoutAlign="start start">
            <mat-icon class="mr-12 mt-12">add_box</mat-icon>
                  <mat-select [(value)]="selected" placeholder="Select one" formControlName="current_assigned_doctor" required>
                     <mat-option>Please select</mat-option>
                     <mat-option value="Dr Madihah">Dr Madihah</mat-option>
                     <mat-option value="Dr Ram">Dr Ram</mat-option>
                  </mat-select>
                 </div>
                 <br>

      </form>
    </div>

      <div mat-dialog-actions class="m-0 p-16" fxLayout="row" fxLayoutAlign="space-between center">

        <button *ngIf="action !=='edit'" mat-raised-button (click)="dialogRef.close(doctorForm)" class="save-button mat-accent"
          aria-label="ADD">
          ADD
        </button>
      </div>
    </div>
  </mat-card> -->
