<mat-table #table [dataSource]="dataSource"
           [@animateStagger]="{value:'50'}">
   
    <!-- Patient Name Column -->
    <ng-container cdkColumnDef="PatientName">
            <mat-header-cell *cdkHeaderCellDef fxHide fxShow.gt-sm>Patient Name</mat-header-cell>
            <mat-cell *cdkCellDef="let medication" fxHide fxShow.gt-sm>
                <p class="text-truncate font-weight-600">
                    {{medication.patientName}}
                </p>
            </mat-cell>
        </ng-container>

    <!--Medication Name Column -->
    <ng-container cdkColumnDef="medname">
        <mat-header-cell *cdkHeaderCellDef>Medication Name</mat-header-cell>
        <mat-cell *cdkCellDef="let medication">
            <p class="text-truncate font-weight-600">{{medication.name}}</p>
        </mat-cell>
    </ng-container>


    <!-- Date Column -->
    <ng-container cdkColumnDef="date">
        <mat-header-cell *cdkHeaderCellDef fxShow.gt-md>Date</mat-header-cell>
        <mat-cell *cdkCellDef="let medication" fxShow.gt-md>
            <p class="duration text-truncate">
                {{ convertDate(medication.date) }}
            </p>
        </mat-cell>
    </ng-container>

    <!-- Doctor Column -->
    <ng-container cdkColumnDef="doctorName">
        <mat-header-cell *cdkHeaderCellDef fxShow.gt-md>Doctor Name</mat-header-cell>
        <mat-cell *cdkCellDef="let medication" fxShow.gt-md>
            <p class="duration text-truncate">
                {{medication.doctorName}}
            </p>
        </mat-cell>
    </ng-container>

    <!-- frequency Column -->
    <!-- <ng-container cdkColumnDef="frequency">
        <mat-header-cell *cdkHeaderCellDef fxHide fxShow.gt-lg>Frequency</mat-header-cell>
        <mat-cell *cdkCellDef="let medication" fxHide fxShow.gt-lg>
            <p class="frequency text-truncate">
                {{medication.frequency}}
            </p>
        </mat-cell>
    </ng-container> -->

    <!-- Company Column
    <ng-container cdkColumnDef="company">
        <mat-header-cell *cdkHeaderCellDef fxHide fxShow.gt-lg>Company</mat-header-cell>
        <mat-cell *cdkCellDef="let medication" fxHide fxShow.gt-lg>
            <p class="company text-truncate">
                {{medication.company}}
            </p>
        </mat-cell>
    </ng-container> -->

    <!-- Buttons Column -->
    <ng-container cdkColumnDef="buttons">
        <mat-header-cell *cdkHeaderCellDef></mat-header-cell>
        <mat-cell *cdkCellDef="let medication">
            <div fxFlex="row" fxLayoutAlign="end center">
                <!-- <button mat-icon-button (click)="$event.stopPropagation();toggleStar(medication.id)" aria-label="Toggle star">
                    <mat-icon *ngIf="user.starred.includes(medication.id)">star</mat-icon>
                    <mat-icon *ngIf="!user.starred.includes(medication.id)">star_outline</mat-icon>
                </button> -->

                <button mat-icon-button [matMenuTriggerFor]="moreMenu" aria-label="More"
                        (click)="$event.stopPropagation();">
                    <mat-icon>more_vert</mat-icon>
                </button>

                <mat-menu #moreMenu="matMenu">
                    <button mat-menu-item aria-label="remove" (click)="deleteMedication(medication)">
                        <mat-icon>delete</mat-icon>
                        <span>Remove</span>
                    </button>
                </mat-menu>
            </div>

        </mat-cell>
    </ng-container>

    <mat-header-row *cdkHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *cdkRowDef="let contact; columns: displayedColumns;"
             class="contact"
             (click)="editContact(contact)"
             [ngClass]="{'mat-light-blue-50-bg':checkboxes[contact.med_id]}"
             matRipple
             [@animate]="{value:'*',params:{y:'100%'}}">
    </mat-row>
</mat-table>


